{% extends 'base.html' %}

{% block title %}
    Plague Products - Code.Net
{% endblock %}

{% block activecode %}
    <a class="nav-link active" href="/code.net/" >Code.Net</a>
{%  endblock %}

{% block maininfo %}

{% load static %}

<center><div class="card" style="max-width: 40rem; margin: 15px">
  <div class="card-header">Code.Net</div>
  <div class="card-body">
<!--    <h5 class="card-title">Success card title</h5>-->
    <p class="card-text" align="left" style="text-indent: 50px">Enter a world in 2090 where all systems have been digitalized. The government is training their workforce to combat hackers through a social deduction game. Connect together with friends and family on the application and score as many points as possible using abilities and deception.</p>
  </div>
</div></center>

<div class="row row-cols-1 row-cols-md-2 g-4" style="padding: 8px">
  <div class="col">
    <div class="card">
      <div class="card-header">Mobile Application</div>
      <div class="card-body">
      <h6 class="card-title">Features</h6>
      <ul>
          <li>No cheating or any requirement to close your eyes.</li>
          <li>No moving pieces that can be damaged or lost.</li>
          <li>Full automation so you can enjoy more games and prevent human error.</li>
      </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
<!--      <img src="..." class="card-img-top" alt="...">-->
      <div class="card-header">Point System</div>
      <div class="card-body">
      <h6 class="card-title">Features</h6>
      <ul>
          <li>Every action you make matters and follows you to the next match.</li>
          <li>Punishes only the player that plays incorrectly.</li>
          <li>Side objectives exist to score more points and keep each match from being redundant.</li>
      </ul>
      </div>
    </div>
  </div>
 <div class="col">
    <div class="card">
<!--      <img src="..." class="card-img-top" alt="...">-->
      <div class="card-header">Probability</div>
      <div class="card-body">
      <h6 class="card-title">Features</h6>
      <ul>
          <li>Players are provided logs which may or may not be accurate to retain uncertainty throughout the game.</li>
          <li>There is no player elimination which means no one has to sit out of the game until the next match.</li>
          <li>Hackers are not so easily uncovered and can hide behind probability to appear credible.</li>
      </ul>
      </div>
    </div>
  </div>
 <div class="col">
    <div class="card">
<!--      <img src="..." class="card-img-top" alt="...">-->
      <div class="card-header">Actions</div>
      <div class="card-body">
      <h6 class="card-title">Features</h6>
      <ul>
          <li>Many unique actions that would be impossible to preform if using physical cards.</li>
          <li>More actions can always be added and previous ones can be properly balanced overtime.</li>
          <li>Preform actions from the comfort of your own phone with no intrusion or sharing of your device.</li>
      </ul>
      </div>
    </div>
  </div>

{%  endblock %}