{% extends 'base.html' %}

{% block title %}
    Plague Products - Code.Net
{% endblock %}

{% block maininfo %}

<!--Carousel-->
{% load static %}
<!--<div id="carouselcode" class="carousel slide" data-bs-ride="carousel" style="width: 450px; margin: auto">-->
<!--  <div class="carousel-indicators">-->
<!--    <button type="button" data-bs-target="#carouselcode" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--    <button type="button" data-bs-target="#carouselcode" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
<!--    <button type="button" data-bs-target="#carouselcode" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
<!--  </div>-->
<!--  <div class="carousel-inner">-->
<!--    <div class="carousel-item active">-->
<!--      <img src="{% static 'main/Logo-01.png' %}" class="d-block w-100" alt="gameplay image 1">-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <img src="{% static 'main/Logo-01.png' %}" class="d-block w-100" alt="gameplay image 1">-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <img src="{% static 'main/Logo-01.png' %}" class="d-block w-100" alt="gameplay image 1">-->
<!--    </div>-->
<!--  </div>-->
<!--  <button class="carousel-control-prev" type="button" data-bs-target="#carouselcode" data-bs-slide="prev">-->
<!--    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Previous</span>-->
<!--  </button>-->
<!--  <button class="carousel-control-next" type="button" data-bs-target="#carouselcode" data-bs-slide="next">-->
<!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Next</span>-->
<!--  </button>-->
<!--</div>-->

<div class="alert alert-warning text-center" role="alert" style="margin-bottom: 1rem;">
  This project is no longer under active development or maintenance.
</div>


<div class="px-4 py-4 my-4 text-center">
  <h1 class="display-5 fw-bold">Code.Net</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Enter a world in 2090 where all systems have been digitalized. The government is training their workforce to combat hackers through a social deduction game. Connect together with friends and family and score as many points as possible using actions and deception.</p>
  </div>
</div>

<!--Features-->
<div class="divider"></div>

<div class="container px-4 py-5" id="features">
  <h2 class="pb-2 border-bottom fw-bolder">Features</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
    <div class="col d-flex align-items-start">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.75em" height="1.75em" fill="#43a047" class="bi bi-trophy-fill flex-shrink-0 me-3" viewBox="0 0 16 16">
        <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935z"/>
      </svg>
      <div>
        <h4 class="fw-bold mb-0">Competitive</h4>
        <p>Play multiple matches using the point system in order to earn enough points for victory.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.75em" height="1.75em" fill="#43a047" class="bi bi-people-fill flex-shrink-0 me-3" viewBox="0 0 16 16">
        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
        <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
      </svg>
      <div>
        <h4 class="fw-bold mb-0">Teamwork</h4>
        <p style="font: Open Sans">Players that play their roles incorrectly will jeopardize their own individual score.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.75em" height="1.75em" fill="#43a047" class="bi bi-arrow-repeat flex-shrink-0 me-3" viewBox="0 0 16 16">
        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
        <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
      </svg>
      <div>
        <h4 class="fw-bold mb-0">Replayability</h4>
        <p>Every match shuffles roles, actions, objectives, and logs to keep the game fresh.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.75em" height="1.75em" fill="#43a047" class="bi bi-stars flex-shrink-0 me-3" viewBox="0 0 16 16">
        <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"/>
      </svg>
      <div>
        <h4 class="fw-bold mb-0">Unique</h4>
        <p>Without physical cards, complex, creative, and role specific actions are now possible.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.75em" height="1.75em" fill="#43a047" class="bi bi-activity flex-shrink-0 me-3" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
      </svg>
      <div>
        <h4 class="fw-bold mb-0">Longevity</h4>
        <p>A digitalized board game allows for new features, content, and improvements overtime.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.75em" height="1.75em" fill="#43a047" class="bi bi-phone-fill flex-shrink-0 me-3" viewBox="0 0 16 16">
        <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
      </svg>
      <div>
        <h4 class="fw-bold mb-0">Multiplayer</h4>
        <p>Preform actions from the comfort of your own phone with no intrusion or sharing of your device.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.75em" height="1.75em" fill="#43a047" class="bi bi-gear-fill flex-shrink-0 me-3" viewBox="0 0 16 16">
        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
      </svg>
      <div>
        <h4 class="fw-bold mb-0">Automation</h4>
        <p>Have faster and more fun games and less human error, forgetting, and arguing.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.75em" height="1.75em" fill="#43a047" class="bi bi-eye-fill flex-shrink-0 me-3" viewBox="0 0 16 16">
        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
      </svg>
      <div>
        <h4 class="fw-bold mb-0">Visual</h4>
        <p>Always have the board and a guide available and visible to you at all times.</p>
      </div>
    </div>
  </div>
</div>
{%  endblock %}