// Include any default variable overrides here (though functions won't be available)
$carousel-control-color: #000000;
$carousel-control-prev-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z'/></svg>");
$carousel-control-next-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/>
</svg>");

@import "bootstrap/scss/bootstrap";

.divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

#carouselhome .carousel-indicators [data-bs-target] {
    background-color: #000000;
}

#carouselcode .carousel-indicators [data-bs-target] {
    background-color: #43a047
}

.logo-svg {
    width: 135px;
    height: auto;
    color: white;
}

a.logo-svg,
a.logo-svg:visited,
a.logo-svg:focus,
a.logo-svg:hover,
a.logo-svg:active {
  color: white;
  text-decoration: none;
}

.logo-svg path {
  fill: currentColor;
}


